body {
    background-color: rgb(177, 110, 147);
    font-size: large;
}
a,p {
    color:rgb(252, 223, 255);
}
#links {
    padding: 10px;
}
#lastfm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
#lastfmp {
    display: block; width: 100%;
}