body {
    margin: 0px;
    font-family: sans-serif;
    border-image: url('/media/borderPattern.png') 16 / 2vh round;
    image-rendering: pixelated;
    color: #000000;
    min-height: 100vh;
}
#char {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: stretch;
    padding-top: 50px;
}
#headerlink {
    margin: 0px;
    font-size: 2.25vh;
    text-align: left;
    margin-left: 6px;
    margin-right: 6px;
}
#header {
    position: absolute;
    margin-left: calc(18px + 1vh);
    margin-top: calc(18px + 1vh);
}
#return {
    margin: 0px;
    position: absolute;
    font-size: 2.25vh;
    text-align: right;
    right: 0px;
    margin-right: calc(22px + 1vh);
    margin-top: calc(18px + 1vh);
}
#texto,#linkie {
    text-align: center;
    width: 60vw;
    max-width: 500px;
    font-size: 2vh;
}
#linkie {
    text-decoration: underline;
    margin-left: 4px;
    margin-right: 4px;
}
a:link,a:visited {
    color: #000000;
}
a:hover,a:active {
    color: #ffffff;
}
#spinvid {
    width: 100vw;
    padding-bottom: 30px;
    max-width: 42em;
    z-index: -1;
    image-rendering: auto;
}