body {
    margin: 0px;
    font-family: sans-serif;
}
#char {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: stretch;
    padding-top: 50px;
}
#headerlink {
    margin: 0px;
    font-size: 2.25vh;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}
#header {
    position: absolute;
}
#return {
    margin: 0px;
    position: absolute;
    font-size: 2.25vh;
    text-align: right;
    right: 0px;
    padding-right: 15px;
    padding-top: 10px;
}
#texto,#linkie {
    text-align: center;
    width: 60vw;
    max-width: 500px;
    font-size: 2vh;
}
#linkie {
    text-decoration: underline;
}
a:link,a:visited {
    color: #000000;
}
a:hover,a:active {
    color: #ffffff;
}
#spinvid {
    width: 100vw;
    max-width: 42em;
}