body {
    margin: 0px;
    font-family: sans-serif;
    border-image: url('/media/borderPattern.png') 16 / 2vh round;
    image-rendering: auto;
    color: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
#char {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: stretch;
}
#headerlink {
    margin: 0px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}
#header {
    font-size: 18px;
    position: absolute;
    margin-left: calc(1px + 1vh);
    margin-top: calc(18px + 1vh);
    max-width: 175px;
}
div#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
    position: absolute;
}
a#headerlink {
    padding: 2px;
}
#return {
    margin: 0px;
    position: absolute;
    font-size: 18px;
    text-align: right;
    right: 0px;
    margin-right: calc(22px + 1vh);
    margin-top: calc(18px + 1vh);
}
#texto,#linkie {
    text-align: center;
    width: 60vw;
    max-width: 500px;
    font-size: 18px;
    margin: 20px;
}
#linkie {
    text-decoration: underline;
    margin-left: 4px;
    margin-right: 4px;
}
a:link,a:visited {
    color: #000000;
}
a:hover,a:active {
    color: #ffffff;
}
#spinvid {
    width: 100vw;
    max-width: 42em;
    z-index: -1;
    image-rendering: auto !important;
}
.charName {
    font-size: 28px !important;
    font-weight: bold !important;
}
#infobox {
    padding: 60px;
}
.linkTop {
    flex-basis: 100%;
    margin: 0;
}