body {
    background: url(/creatures/obli/oblibg.avif);
    background-position: center;
    background-size: cover;
}
body,a,a:link,a:visited,a:link:active, :visited:active {
    color: rgba(211, 79, 108, 0.89);
    text-shadow: 1px 1px 0px rgb(0, 0, 0); 
}
