@font-face {
    font-family: "opendyslexic";
    src: url('/fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "opendyslexic";
    src: url('/fonts/OpenDyslexic-Italic.otf');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "opendyslexic";
    src: url('/fonts/OpenDyslexic-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "opendyslexic";
    src: url('/fonts/OpenDyslexic-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: "opendyslexic" !important;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(/bg.png);
    background-color: rgba(105, 45, 68, 0.438);
    background-size: 24px;
    image-rendering: pixelated;
    margin: auto;
    padding: 20px;
    animation: sillyborder 50s linear infinite;
}
#entriesNormal {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
#entriesGame {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
#entriesFilm {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
#album {
    margin: .4rem ;
    width: 150px;
    height: 150px;
    border: rgba(121, 72, 72, 0.548)6px outset;
    border-radius: 10px;
}
a#leftLink {
    float: left;
    position: relative;
    bottom: 24%;
    left: 9%;
}
a#rightLink {
    float: left;
    position: relative;
    bottom: 24%;
    left: 55%;
}
button {
    height: 45px;
    font-size: 14px;
    font-family: "opendyslexic" !important;
    color: rgb(255, 255, 255);
    background-color:rgba(168, 106, 121, 0.452);
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border: rgba(121, 72, 72, 0.548)6px outset;

}
#lfm {
    color: rgb(255, 180, 205);
}
@keyframes sillyborder {
    0% {
        background-position: 0% 0vh;
    }
    100% {
        background-position: 0% 150vh;
    }
}