@font-face{
	font-family: "opendyslexic";
	src: url('/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('/fonts/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('/fonts/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('/fonts/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

body {
    font-family: "opendyslexic" !important;
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(106, 187, 187);
    max-width: 80%;
    margin: auto;
    padding: 6px;
}
#entriesNormal {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
#entriesGame {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
#entriesFilm {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 150px;
    width: 150px;
}
#album {
    width: 150px;
    height: 150px;
    padding: 10px;
}
a#leftLink {
    float: left;
    position: relative;
    bottom: 24%;
    left: 9%;
}
a#rightLink {
    float: left;
    position: relative;
    bottom: 24%;
    left: 55%;
}
button {
    height: 25px;
    font-family: "opendyslexic" !important;
    background-color: rgb(228, 255, 251);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
}