body {
    background-color: #ca87ad;
    font-size: 18px;
    white-space: nowrap;
    padding-left: 5px;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    position: fixed;
    top: -9px;
    left: 0px;
}
a,p {
    color:#fcdfff;
    z-index: 1;
    text-decoration: none;
}
#links {
    padding-right: 5px;
}
#lastfmp {
    position: fixed;
    width: 100px;
    top: 213px;
    left: 23px;
}
#lastfmimg {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 272px;
    left: 15px;
}
#lastfmlink {
    font-size: 13px;
    width: 230px;
    height: 64px;
    align-items: center;
    position: fixed;
    overflow: hidden;
    white-space: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-flex-align: center;
    top: 272px;
    left: 90px;
    text-decoration: underline;
}
#gay {
    position: fixed;
    left: 340px;
    top: 45px;
    z-index: -1;
}
#fmdis {
    position: fixed;
    width: 340px;
    top: 355px;
    left: 22px;
}
#accents {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#corners {
    position: fixed;
    top: 266px;
    left: 8px;
    z-index: 1;
}