body {
    background-color: #ca87ad;
    font-size: large;
    white-space: nowrap;
    padding-left: 5px;
}
a,p {
    color:#fcdfff;
    z-index: 1;
    text-decoration: none;
}
#links {
    padding-right: 5px;
}
#lastfm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
#lastfmp {
    display: block;
    width: 100%;
}
#lastfmlink {
    font-size: 15px;
    width: 250px;
    position: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    top: 285px;
    left: 85px;
    text-decoration: underline;
}
#gay {
    position: absolute;
    left: 340px;
    top: 45px;
    z-index: -1;
}
#fmdis {
    width: 340px;
}
#accents {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}