body {
    background-color: rgb(229, 211, 240);
    font-family: "verdana" !important;
    color: black;
}
a {
    color: rgb(73, 40, 190);
}
#toptext,details {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}
.catLinks {
    padding: 5px;
    margin: 6px;
    outline: dotted rgba(0, 0, 0, 0.288) 1px;
    outline-offset: -5px;
}
#tools {
    display:  flex;
    flex-wrap: wrap;
}
#liltool {
    width: 300px;
    border: dotted rgba(0, 0, 0, 0.288) 1px;
    padding: 5px;
    margin-bottom: 4px;
}
#toolT {
    font-size: 17px;
    
}
#toolD {
    font-size: 75%;
    
}
#toolGeneral,#catGeneral {
    background-color:rgba(0, 17, 255, 0.185);
}
#toolGame,#catGame {
    background-color:rgba(0, 183, 255, 0.185);
}
#toolBrowser,#catBrowser {
    background-color:rgba(0, 255, 149, 0.185);
}
#toolServer,#catServer {
    background-color:rgba(94, 255, 0, 0.185);
}
#toolVRChat,#catVRChat {
    background-color:rgba(229, 255, 0, 0.185);
}
#toolBlender,#catBlender {
    background-color:rgba(255, 174, 0, 0.185);
}
#winNotes,#catWinNotes {
    background-color:rgba(255, 81, 0, 0.185);
}
#toolGeneral,#toolGame,#toolBrowser,#toolServer,#toolVRChat,#toolBlender {
    margin: 6px;
    padding: 5px;
    overflow-y: scroll;
    height: 500px;
    scrollbar-width: thin;
    
}
#catGeneral,#catGame,#catBrowser,#catServer,#catVRChat,#catWinNotes,#catBlender {
    padding: 12px;
}
#winNotes {
    max-width: 660px;
    margin: 8px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: dotted rgba(0, 0, 0, 0.288) 1px;
    outline-offset: -5px;
}
#mrNotes,#mrNotesSmall {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
    font-size: 70%;
}
#mrNotes {
    padding-top: 10px;
    padding-bottom: 10px;
}
#mrNotesSmall {
    font-size: 60%;
    background-color:rgba(255, 127, 53, 0.185);
}
#noteHeader {
    margin: 0;
    padding-top: 10px;
    font-size: 90%;

}
details > ul > li {
    margin: 0px;
    list-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
}
details > ul {
    margin: 4px;
    background-color: rgb(209, 179, 228);
    max-width: 400px;
    padding-left: 4px;
}
#changeAdd {
    background-color: #80ff006c;
}
#changeRemove {
    background-color: #ff000088;
}
#changeReplace {
    height: 100%;
    background: linear-gradient(to right, #ff000088 25%, #80ff006c 65%);
}