body {
    background-color: rgb(218, 176, 214);
    font-family: "verdana" !important;
    color: black;
}
#tools {
    display:  flex;
    flex-wrap: wrap;
}
#liltool {
    width: 250px;
    background-color: rgb(241, 203, 233);
    margin:0 8px 8px 0;
    padding: 5px;
}
#toolT {
    font-size: 17px;
}
#toolD {
    font-size: 90%;
}