@font-face {
    font-family: 'Smash';
    src: url('smash.ttf') format('truetype');
}
body {
    background-image: url(/media/nnnoise2.svg);
    margin: 0;
    animation: infinite alternate gay 1s steps(2, jump-both);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    overflow: hidden;
}
img {
    image-rendering: pixelated;
}
#bgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
#bgimg {
    height: 100vh;
    max-height: 100vh;
    z-index: -1;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#killanim,#killbuttons {
    position: absolute;
    top: 6px;
    left: 22px;
    z-index: 5;
    background-color:#ffffff8e;
}
#buttn {
    width: 88px;
    height: 31px;
    position: fixed;
    transform-origin: center;
    z-index: 3;
    filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.432));
}
#oops {
    position: fixed;
    top: 4%;
    right: 5%;
}
#creatures {
    font-family: cursive;
    font-size: 200%;
    text-shadow: 2px 2px black;
    position: fixed;
    top: 10%;
    left: 35vw;
    animation: fontcolor2 alternate infinite linear 1s;
    rotate: -25deg;
    z-index: 2;
}
#tools {
    font-family: cursive;
    text-shadow: 2px 2px black;
    font-size: 200%;
    position: fixed;
    top: 66%;
    left: 35vw;
    animation: fontcolor alternate infinite linear 1s;
    rotate: 15deg;
    z-index: 2;
}
#credit {
    z-index: 2;
    display: inline;
    font-family: Smash;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 1px black;
    rotate: -5deg;
    font-size: 200%;
    position: fixed;
    bottom: 10px;
    right: 5%;
    width: 300px;
    height: 150px;
}
@keyframes gay {
    0% {background-color: #290423d5;}
    100% {background-color: #42021ed3;}
}
@keyframes fontcolor {
    0% {color:black;}
    100% {color:#ff0055;}
}
@keyframes fontcolor2 {
    0% {color:#ff0055;}
    100% {color:black;}
}
#lastfm { 
    z-index: 0;
    position: absolute;
    left: 24px;
    bottom: 1%;
    border: rgb(219, 51, 93) 4px dashed;
    font-family: cursive;
    color: rgb(255, 0, 128);
    text-shadow: 1px 1px black;
    background-color: #bd0f666b;
    filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.432));
}
#lastfmp {
    font-size: 130%;
}
#lastfmlink {
    animation: fontcolor alternate infinite linear 1s;
    font-size: 130%;
}
#lastfmimg {
    width: 100x;
    height: 100px;
    border: rgb(255, 0, 64) 2px dotted;
}
#fireLeft {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-image: url("/media/realFire.gif");
    background-repeat: repeat-y;
    background-position: left;
    width: 22px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(255, 81, 0)) invert(100%);
}
#fireRight {
    rotate: 180deg;
    position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    z-index: 5;
    background-image: url("/media/realFire.gif");
    background-repeat: repeat-y;
    background-position: right;
    width: 22px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(255, 81, 0));
}
#ampapp {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 246px;
    height: 245px;
    transform: translate(-75px, 75px); 
}
#snowdiv {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}
div#main-window,div#playlist-window,.gen-window {
    filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.432));
}