@font-face {
    font-family: 'Smash';
    src: url('smash.ttf') format('truetype');
}
body {
    background-image: url(/media/nnnoise2.svg);
    margin: 0;
    animation: infinite alternate gay 1s steps(2, jump-both);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    overflow: hidden;
}
img {
    image-rendering: pixelated;
}
#bgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
#bgimg {
    height: 100vh;
    max-height: 100vh;
    z-index: -1;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#killanim,#killbuttons {
    position: absolute;
    top: 6px;
    left: 22px;
    z-index: 5;
    background-color:#ffffff8e;
}
#buttn {
    width: 88px;
    height: 31px;
    position: fixed;
    transform-origin: center;
    z-index: 3;
    filter: hue-rotate(360deg);
}
#oops {
    position: fixed;
    top: 4%;
    right: 5%;
}
#animButtons {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
}
#yup {
    position: relative;
    height: 100vh;
    width: 87vb;
}
#anim1 {
    image-rendering: auto !important;
    position: absolute;
    top: 1px;
    left: 1px;
    max-width: 422px;
    width: 40vb;
    margin-top: 4vb;
    margin-left: 3vb;
}
#anim2 {
    image-rendering: auto !important;
    margin-bottom: 7vb;
    margin-right: 5vb;
    position: absolute;
    bottom: 1px;
    right: 1px;
    max-width: 371px;
    width: 40vb;
}
#credit {
    image-rendering: auto !important;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 330px;
}
#creditlink {
    animation: infinite normal wiggly 0.75s steps(3);
    position: fixed;
    rotate: -17deg;
    bottom: 72px;
    right: 63px;
    width: 99px;
    z-index: 2;
}
@keyframes gay {
    0% {background-color: #290423d5;}
    100% {background-color: #42021ed3;}
}
@keyframes wiggly {
    0% {rotate: -16deg;}
    50% {rotate: -19deg;}
    100% {rotate: -16deg;}
}
#lastfm { 
    z-index: 0;
    position: absolute;
    left: 24px;
    bottom: 1%;
    border: rgb(219, 51, 93) 4px dashed;
    font-family: cursive;
    color: rgb(255, 0, 128);
    text-shadow: 1px 1px black;
    background-color: #bd0f666b;
    filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.432));
}
#lastfmp {
    font-size: 130%;
}
#lastfmlink {
    font-size: 130%;
}
#lastfmimg {
    width: 100x;
    height: 100px;
    border: rgb(255, 0, 64) 2px dotted;
}
#fireLeft {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-image: url("/media/realFire.gif");
    background-repeat: repeat-y;
    background-position: left;
    width: 22px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(255, 81, 0)) invert(100%);
}
#fireRight {
    rotate: 180deg;
    position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    z-index: 5;
    background-image: url("/media/realFire.gif");
    background-repeat: repeat-y;
    background-position: right;
    width: 22px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(255, 81, 0));
}
#ampapp {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 246px;
    height: 245px;
    transform: translate(-75px, 75px); 
}
